<div class='container'>
    <div class='row contenterr'>
      <div class='col-lg-12'></div>
      <div class='col-lg-12'>
        <h1 class="h1err">{{title}}</h1>
        <h2 class="h2err">Internal Server Error.</h2>
        <p class="perr">
          You may want to head back to the homepage.
          
        </p>
       <a href="/"> <span class='btn btnerr'>RETURN HOME</span></a>
        
      </div>
    </div>
  </div>
