html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.main {
    background: #fdfdfd;
}

.navbar {
    border-radius: 0px !important;
    font-family: 'Raleway', sans-serif;
}

.ul {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0px !important;
}

.post {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
}

.readmore {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    background: #fff !important;
    color: #000 !important;
    border-radius: 0px !important
}

img {
    width: 100%;
}

.post-body {
    padding: 10px;
}

.post-body p {
    font-family: 'lato', sans-serif;
}

.side-bar {
    padding-top: 0 !important;
}

.list-group-item.title {
    background: #f1f1f1 !important;
    color: #000;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0px !important;
}

.little {
    width: 50px;
    margin-right: 10px;
}

.fa {
    margin-right: 10px;
}

.label {
    float: left !important;
    margin: 5px;
}

.twit {
    width: 64px;
}


/*
 * Footer
 */

.blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 1.5rem 0;
    color: #999;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
    margin-top: 15%
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

.ul {
    margin-bottom: 2%
}